<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form method="POST" action="/peyment">
          <input type="number" id="amount" name="amount"></input>
          <input type="submit"></input>
      </form>
  </body>
</html>
